{% extends "serveradmin/base.html" %}
{% block page_content %}
<!-- Page Heading -->
<form method="post" action="{% url 'spectrumadmin-service-detail' id=service.id %}">
	{% csrf_token %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-dark"><i class="fas fa-hands-holding-child"></i> {{ service.name }}</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% url 'admin-dashboard-home' as url %}
                <li class="breadcrumb-item"><a href="{{ url }}">Admin Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'spectrumadmin-services' %}">Services</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ service.name }}</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title text-white float-left">Service Information</h5>
                    <h5 class="float-right"><span class="badge bg-secondary p-2">{{ service.category.name }}</span></h5>
                </div>
                <div class="card-body">
                    <p>{{ service.description }}</p>
                </div>
            </div>
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title text-white float-left">Notes</h5>
                    <a href="#" class="float-end d-none d-sm-inline-block btn btn-sm btn-custom-secondary shadow-sm" data-toggle="modal" data-target="#noteModal">Add Note <i class="fas fa-plus fa-sm text-white-50"></i></a>
                </div>
                <table class="table table-borderless {% if user.profile.dark_mode %}table-dark{% else %}table-light{% endif %} table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"><i class="fas fa-calendar d-block text-center align-text-top pb-1"></i></th>
                            <th scope="col"><i class="fas fa-user d-block text-center align-text-top pb-1"></i></th>
                            <th scope="col">Note</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if service.notes.count > 0 %}
                            {% for note in service.notes.all|dictsort:"created" %}
                                <tr>
                                    <td><span class="badge bg-secondary">{{ note.created }}</span></td>
                                    <td><span class="badge bg-secondary">{{ note.author.username }}</span></td>
                                    <td>{{ note.note }}</td>
                                    <td><button type="submit" name="deleteNote" value="{{ note.id }}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td>No notes added yet.</td>
                                <td></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title text-white">Contact Information</h5>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        Status: <span class="badge badge-{% if service.active %}success{% else %}danger{% endif %}">{% if service.active %}Active{% else %}Not Active{% endif %}</span>
                    </div>
                    <div class="form-group">
                        <label for="phone-number">Phone Number</label>
                        <input class="form-control" name="phone-number" id="phone-number" disabled="disabled" value="{{ service.contact_phone_number }}" />
                    </div>
                    <div class="form-group">
                        <label for="email-address">Email Address</label>
                        <input class="form-control" name="email-address" id="email-address" disabled="disabled" value="{{ service.contact_email }}" />
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <textarea class="form-control" style="resize: none;" rows="3" name="address" id="address" disabled="disabled">{% if service.address %}{{ service.address }}{% else %}No fixed address.{% endif %}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title text-white">Manage Service</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="name">Service Name</label>
                                <input class="form-control" name="name" id="name" value="{{ service.name }}" />
                            </div>
                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" rows="10" name="description" id="description">{{ service.description }}</textarea>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="name">Service Category</label>
                                <select class="form-select" name="name" id="name">
                                    {% for category in categories %}
                                        <option value="{{ category.id }}" {% if category == service.category %}selected="selected"{% endif %}>{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="name">Contact Phone Number</label>
                                <input class="form-control" name="name" id="name" value="{{ service.contact_phone_number }}" />
                            </div>
                            <div class="form-group">
                                <label for="name">Contact Email Address</label>
                                <input class="form-control" name="name" id="name" value="{{ service.contact_email }}" />
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <textarea class="form-control" style="resize: none;" rows="3" name="address" id="address">{{ service.address }}</textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-custom-primary float-right" type="submit" name="saveService">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card text-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title text-white">Service Actions</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Update Status</label>
                                <br>
                                <button type="submit" class="btn btn-block btn-{% if service.active %}danger{% else %}success{% endif %}" name="serviceStatus" id="serviceStatus">Mark {% if service.active %}Inactive{% else %}Active{% endif %}</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Delete Service</label>
                                <br>
                                <a href="#" class="float-end d-none d-sm-inline-block btn btn-danger btn-block shadow-sm" data-toggle="modal" data-target="#deleteModal">Delete Service</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Note to {{ service.name }}</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="noteDescription">Your Note</label>
                                <textarea class="form-control" rows="5" name="noteDescription" id="noteDescription"></textarea>
                            </div>

                        </div>
                        <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-custom-primary" name="addNote" type="submit">Add</button>
                        </div>
                    </div>
            </div>
        </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Service "{{ service.name }}"</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p><b>Are you sure?</b> This process is <b>irreversible</b> and will delete the service and all related notes and information.</p>
                        </div>
                        <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <button class="btn btn-danger" name="deleteService" type="submit">Confirm Deletion</button>
                        </div>
                    </div>
            </div>
        </div>
</form>
{% endblock %}