{% extends "serveradmin/base.html" %}
{% block page_content %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row d-sm-flex align-items-center justify-content-between mb-4">
        <div class="col-md-5">
            <h1 class="h3 mb-0 text-dark"><i class="fas fa-hands-holding-child"></i> Support Services</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'admin-dashboard-home' %}">Admin Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Support Services</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-7">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="services-tab" data-toggle="tab" href="#services" role="tab" aria-controls="services" aria-selected="true">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="service-categories-tab" data-toggle="tab" href="#service-categories" role="tab" aria-controls="service-categories" aria-selected="false">Categories</a>
              </li>
              <li class="nav-item float-right">
                <a class="nav-link" id="add-service-tab" href="#"><i class="fas fa-plus"></i> Add Service</a>
              </li>
            </ul>
        </div>
        {% if success %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>User Updated!</strong><br> This users information was successfully updated.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% elif error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong><br>{{ error|safe }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active mb-3" id="services" role="tabpanel" aria-labelledby="services-tab">
            <div class="card text-dark">
                <div class="card-header">
                    <h5 class="card-title text-white float-left">Available Services</h5>
                </div>
                <table class="table table-borderless {% if user.profile.dark_mode %}table-dark{% else %}table-light{% endif %} table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Service Name</th>
                            <th scope="col">Category</th>
                            <th scope="col">Active</th>
                            <th scope="col">Contact</th>
                            <th scope="col">Clients</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for service in services %}
                            <tr>
                                <td>{{ service.name }}</td>
                                <td><span class="badge badge-custom">{{ service.category.name }}</span></td>
                                <td><span class="badge badge-{% if service.active %}success{% else %}danger{% endif %}">{% if service.active %}Active{% else %}Not Active{% endif %}</span></td>
                                <td>{{ service.contact_phone_number }}</td>
                                <td><span class="badge badge-secondary">{{ service.clients.count }}</span></td>
                                <td><a href="#" class="badge badge-custom"><i class="fas fa-wrench"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade mb-3" id="service-categories" role="tabpanel" aria-labelledby="service-categories-tab">
            <div class="card text-dark">
                <div class="card-header">
                    <h5 class="card-title text-white float-left">Service Categories</h5>
                </div>
                <table class="table table-borderless {% if user.profile.dark_mode %}table-dark{% else %}table-light{% endif %} table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.name }}</td>
                                <td>{{ category.description }}</td>
                                <td><a href="#" class="badge badge-custom"><i class="fas fa-wrench"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
</div>
</form>
{% endblock %}